body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: Arial;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

#answer {
    margin-top: 20px;
    background: #1e293b;
    padding: 15px;
    border-radius: 5px;
}